BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never

BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Left
SpaceBeforeParens: ControlStatements

BinPackArguments: false
AllowAllArgumentsOnNextLine: false
