BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never

BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakBeforeBraces: Allman


AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Left
SpaceBeforeParens: ControlStatements

BreakBeforeBinaryOperators: NonAssignment
AlignOperands: true
ColumnLimit: 0                # disables line length limit (no automatic line breaks)
BreakBeforeBinaryOperators: None
AllowAllArgumentsOnNextLine: true


